#pastMain {
    text-align: center;
    background-color: #285943;
    width: 85%;
    padding-top: calc(100vh*.08);
    padding-bottom: calc(100vh*.08);
}

.container {
    width: 95%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.imageCell {
    background-color: #e77728;
    width: 42%;
}

.image {
    height: 65vh;
    width: 100%;
    object-fit: cover;
    padding: 5%;
    padding-bottom: 1%;
}

.imageBlankCell {
    height: 30vh;
}

.lineDotCell {
    height: 40px;
    width: 7%;
}
.line {
    background-color: #f0eff4;
    height: 4px;
    width: 90%;
    border-radius: 2px;
    display: inline-block;
    margin: 5%
}

.vertLine {
    background-color: #f0eff4;
    height: 90%;
    width: 4px;
    border-radius: 2px;
    display: inline-block;
    margin: 5%
}

.dotCell {
    width: 40px !important;
}

.dot {
    height: 40px;
    width: 40px;
    background-color: #f0eff4;
    border-radius: 50%;
    display: inline-block;
  }

.dateRight {
    color: #30bced;
    text-align: left;
    padding-left: 10px;
    padding-top: 2%;
    padding-bottom: 2%;
}

.dateLeft {
    color: #30bced;
    text-align: right;
    padding-right: 10px;
    padding-top: 2%;
    padding-bottom: 2%;
}